[2014-10-31 00:44] robb-price opened #88 "If there are multiple instances of the Spreadsheet Widget in a Placeholder, and the transition is None, only the last one is swipeable."
<b>How it works now</b>
Use a Presentation with multiple instances of the Spreadsheet Widget in one Placeholder, and the Placeholder transition is None. Notice that the first Spreadsheets are not swipeable, but the last Spreadsheet is. This was originally logged as <a href="https://code.google.com/p/risegadgets/issues/detail?id=1128">Issue 1128</a>. Previously it only occurred when the Spreadsheet

[2014-10-31 17:10] robb-price opened #94 "When video and the Spreadsheet Widget are in the same Placeholder, the Spreadsheet is not swipeable on Windows PAP and Chrome"
<b>How it works now</b>
When video and the Spreadsheet Widget are in the same Placeholder, the Spreadsheet is not swipeable on Chrome or Windows PAP. On other OS'/Players, it swipes successfully.

<b>How it should work</b>
The Spreadsheet should swipe on all OS' in the same way regardless of what else is in the Placeholder.

[2014-10-31 17:31] robb-price opened #95 "If there are multiple Presentations each with Spreadsheet Widget in them, only the last one is swipeable on Chrome and Windows PAP"
<b>How it works now:</b>
Have a Schedule with 2 Presentations, each Presentation has scrolling Spreadsheet Widgets. Notice that on Windows PAP and Chrome, they are not swipeable. This does not happen on other OS'/Players.

This issue is similar to <a href="https://github.com/Rise-Vision/widget-google-spreadsheet/issues/88">Issue 88</a>.

<b>How it should work:</b>
The Spreadsheets should be swipea

[2014-12-23 16:51] btfrise opened #108 "Custom layout URL should have storage link."
http://www.screencast.com/t/Mov6SPUUvbR

In addition to the URL portion of the custom layout selector, there should be a link to access the layout in Rise storage.

[2014-12-23 18:59] btfrise opened #109 "Custom layouts hosted in Rise storage do not work."
Tested using
https://github.com/Rise-Vision/widget-google-spreadsheet/blob/feature/custom-layouts/examples/list.md
https://docs.google.com/spreadsheet/ccc?key=0Av0wEY9sizgUdDVjN09uQTYwZHd3ZkU0dGh4TURLSHc#gid=0

1) Upload custom layout to Rise Storage.
2) Generate link to custom layout in storage.
3) Add link to custom layout URL field in placeholder.
4) Save presentation and preview.

The custom l

[2015-01-06 16:07] stulees commented on #108
@btfrise @alanclayton This is now complete. URL Field component now has Storage Selector component integrated, changes have been made in Spreadsheet Widget and the Widget has been re-built to include the latest URL Field. Please test and verify (test version). Thanks

[2015-01-06 16:08] stulees commented on #109
@btfrise @alanclayton This is fixed. URL Field component now has Storage Selector component integrated, changes have been made in Spreadsheet Widget and the Widget has been re-built to include the latest URL Field. Please test and verify (test version). Thanks

[2015-01-06 16:56] btfrise commented on #108
Verified. Closing.

[2015-01-06 16:56] #108 closed

[2015-01-06 16:56] btfrise commented on #109
Verified. Closing.

[2015-01-06 16:56] #109 closed

[2015-01-06 22:20] btfrise opened #112 "Include Entire Sheet/Range of Cells not working as intended."
1) Set widget to include entire sheet
2) Preview to see entire sheet displayed
3) Set widget to include range of cells example a1:b10
4) Preview to see selected cells displayed
5) Set widget to include entire sheet
6) Preview to see a1:b10 are the only cells displayed
7) Set widget to include range of cells, then set to include entire sheet
8) Preview to see entire sheet displayed.

http://www.scr

[2015-03-23 17:05] btfrise opened #114 "Spreadsheet content does not fit placeholder when there is only one column in the spreadsheet and the font size is greater than 30."
Steps to reproduce:
1. Add spreadsheet with only one column to spreadsheet widget.
2. Set data font to 30+

Result:
Spreadsheet widget cuts off content in the placeholder.

How it should work:
The spreadsheet widget should be fully responsive and fit all content into the placeholder regardless of size or amount of content.

Link to Presentation:
http://preview.risevision.com/Viewer.html?type=prese

[2015-03-23 17:48] stulees commented on #114
@btfrise Just to clarify, this issue appears to be dependent on font size. I think the title of this bug needs to mention that, thanks.

[2015-04-07 19:32] ptseng opened #116 "Last row in spreadsheet replaced by first row after ~5 minutes using custom layouts"
Presentation: http://preview.risevision.com/Viewer.html?type=presentation&id=cfb8390b-e947-4f5b-9b40-49851b253850

Reproduction Steps

1. Load up presentation
2. Presentation is based on custom layout
3. Wait about 5 minutes

What you expected to happen.

1. Presentation should stay the same after five minutes.

Actual Results

1. Last row of presentation gets replaced by first row of presentation

[2015-04-07 21:10] ptseng commented on #116
After about an hour the last row disappears completely.  It also looks like the width of the beer column got smaller.

[2015-04-09 13:30] Dickfoto commented on #114
I am the end user.  Any progress on this?

[2015-04-10 14:42] stulees commented on #114
@Dickfoto This is in my queue of items to address but I have other projects outstanding at the moment that need to be completed first. I'll be sure to notify you here on this issue when progress has been made, thanks.

[2015-04-21 19:14] ptseng commented on #116
Any update on this?  Kind of a huge bug right?

[2015-04-21 21:59] stulees commented on #116
@ptseng If you can determine that this is also a bug with the default layout of this Widget, then the bug can get queued to address. Please provide a presentation that illustrates the bug with the default layout.

However, if what you're experiencing only happens with your custom layout, then my advice is to try and replicate the issue with the example custom layout provided in this repo here - ht

[2015-04-21 22:13] ptseng commented on #116
@stulees I will try with the example custom layout.  However, in the example custom layout:

[code]

Provides for 3 columns.  All of the columns are of a different type.  A is text, B is an image and C is a qrCode.  It may not be sufficient to demonstrate this bug where the last row is being replaced by the first row upon update.  Would you accept a demonstration where:

[code]

??

[2015-04-22 22:16] ptseng commented on #116
@stulees with reference to the above, using the custom layout provided in images.md, I have replicated this bug.

Presentation: http://preview.risevision.com/Viewer.html?type=presentation&id=41b27724-ee4d-4628-8b33-359e8a99026b

As mentioned before, takes about 5-10 minutes.  The last row will be replaced by the first row.

Please take a look into this.  Thanks for your consideration.

[2015-04-23 16:22] stulees commented on #116
@ptseng Thanks for providing this. I have other projects and priorities at the moment, but this is being queued up to work on in the near future. I will inform you of any progress. In the meantime, if you can, provide as much insight and detail regarding the bug and/or where you think it might be occurring in the source code. Thanks

[2015-04-27 18:18] ptseng commented on #116
@stulees Thank you.  It seems that the bug is happening on update, so I would check the update code for an "index off by one" error when iterating through rows.  That is my primary suspicion.

[2015-05-11 19:33] AlexKolenoff opened #117 "Mixed format columns result in data not appearing or data not appearing correctly."
There are two scenarios where this issue occurs.

Scenario 1:
I have a column of with data that is formatted as "Plain Text" and "Number". In this scenario, the "Plain Text" data does not appear in the Spreadsheet.

In the Widget Settings, specify a column header of 1 and enable the column formatting option.

Scenario 2:
I have a column of data that is formatted as "Plain Text" and have enabled co

[2015-05-11 19:46] AlexKolenoff commented on #117
@alanclayton Can you set a priority on this?

[2015-05-20 16:04] alanclayton commented on #114
Issue appears to be related to text that is bold. To replicate, add enough text in a cell so that it will wrap in the presentation.

[2015-05-20 16:13] alanclayton commented on #112
@btfrise I'm unable to replicate this. I'm going to close this. Let me know if you see it again.

[2015-05-20 16:13] #112 closed

[2015-05-20 18:57] alanclayton commented on #95
I can not replicate this. Likely fixed with a Chrome update. Closing issue. @mmeiers @dlugo00 @robb-price @stulees  FYI.

[2015-05-20 18:57] #95 closed

[2015-05-20 19:02] alanclayton commented on #94
Can't replicate this issue. Closing. @stulees @robb-price @mmeiers FYI

[2015-05-20 19:02] #94 closed

[2015-05-20 21:21] alanclayton commented on #88
Unable to replicate. Likely resolved with a Chrome update. Closing issue. @stulees FYI

[2015-05-20 21:21] #88 closed

[2015-06-30 15:54] mfisher11 opened #118 "After updating spreadsheet, widget goes blank and subsequent updates do not show up"
Steps to reproduce:
1. Start with a working presentation that correctly displays content from a google spreadsheet
2. Modify the spreadsheet (there wasn't a specific trigger that ALWAYS caused the issue, but adding an additional column (exceeding 3) frequently did)

Result:
Widget will update, showing a blank screen (no content from the spreadsheet).
* Modifying the spreadsheet after the screen go

[2015-06-30 17:19] mfisher11 opened #119 "After updating spreadsheet content with numeric content, data layout breaks"
Steps to reproduce:
1. Start with a working presentation that correctly displays content from a google spreadsheet
2. Modify the spreadsheet by adding a numeric value

Result:
When widget updates, content layout is broken and data is missing/hidden
* I've attached before and after screenshots to illustrate the problem.  The only difference between the two was the addition of the number "1" in cell

[2015-07-01 18:02] donnapep commented on #119
@mfisher11 Can you share the spreadsheet with me? I haven't been able to reproduce so far. Thx.

[2015-07-01 18:05] mfisher11 commented on #119
@donnapep You should be able to edit it now.

[2015-07-01 18:15] donnapep commented on #119
@mfisher11 Thanks. I actually still can't reproduce. What I get when I enter a number in A4 is a blank screen, which is issue #118. So I think you should retry after that issue is fixed, OK?

[2015-07-01 18:21] mfisher11 commented on #119
@donnapep That's odd.  Well, a workaround would be to update the presentation--that (generally) was a one-shot that would fix the blank screen issue, and should at least allow you to replicate this one.

If this only affects numeric data and 118 affects *everything*, I think you're right about it being fixed first.  Do you agree @alanclayton ?

[2015-07-01 18:43] alanclayton commented on #119
Agreed

On Wed, Jul 1, 2015 at 1:21 PM mfisher11 <notifications@github.com> wrote:

[2015-07-01 20:10] donnapep commented on #119
@mfisher11 I was able to reproduce by starting the Presentation up with a number in that field rather than adding the number after the Presentation was already running.

[2015-07-01 20:33] donnapep commented on #119
@mfisher11 Can you choose a different number of header rows besides "Auto". "Auto" shouldn't actually be an option as it's problematic.

[2015-07-01 20:36] alanclayton commented on #119
@donnapep @mfisher11 if Auto is a problem we should remove it and set default value to 1. @mfisher11 let us know. Thanks

[2015-07-01 20:46] mfisher11 commented on #119
@donnapep @alanclayton  That was the problem.  I had left everything with the default, and "Auto" was the default setting.  Manually setting it to "0" or "1" keeps the formatting/visibility.

[2015-07-01 21:47] mfisher11 commented on #119
@alanclayton Should I close this out since it's technically not a bug, or do you want to keep it open as history/context for removing "Auto" or changing the default?

[2015-07-01 22:09] alanclayton commented on #119
Just leave it open. We need to pull the option Auto and update default to
1. We'll close it when that work is done. Thanks

On Wed, Jul 1, 2015 at 4:47 PM mfisher11 <notifications@github.com> wrote:

[2015-07-02 21:14] btfrise commented on #118
@stulees @alanclayton This is now fixed. I'll go ahead and close it up.

[2015-07-02 21:14] #118 closed

[2015-07-29 23:03] ptseng commented on #116
@stulees Can we get an update on this?  I have been using the 'Gadget' for now.  I would be fine with continuing to use the 'Gadget' but I can no longer access the settings of the gadget.  Community.risevision has said that the 'Gadget' is now replaced with the 'Widget'.  However, I can't use the 'Widget' until this bug is fixed.  Please help.

[2015-07-30 21:58] alanclayton commented on #116
Hey @ptseng we've recently finished building a Web Component (http://webcomponents.org/) that retrieves data from a Google Spreadsheet. Our intention is to replace our current Spreadsheet Widget with a new version that uses this Web Component. What other types of data are you showing in your Presentation that contains the Spreadsheet Widget? Could this be an option for you to migrate to?

Here is

[2015-07-31 17:43] ptseng commented on #116
@alanclayton This looks interesting.  I'll take a look at it when some time opens up.  For now, I will continue to use the Gadget.  I was able to access the settings with some help from community.risevision.

[2015-08-07 16:28] btfrise commented on #117
@alanclayton We've gotten a few more reports of leading 0s causing this issue in the Spreadsheet Widget. Is this something we can get in your backlog?

[2015-08-20 16:14] mfisher11 opened #122 "Inconsistency between data that appears in preview/presentation, and what is shown in the configuration modal"
When viewing the configuration modal for the spreadsheet widgets, the data source (specifically the worksheet) doesn't match what is shown in a preview or on a display.
In this case (first item under specials, placeholder specials-01), the configuration indicates that it should be looking at worksheet tuesday, range c4:c4.  However, when previewing or on a display, the content is actually being pu

[2015-08-20 18:12] donnapep commented on #122
@mfisher11 Easy fix. Change the number of header rows from 1 to 0. There are no header rows in that worksheet and it throws everything off. Thx.

[2015-08-20 18:13] donnapep commented on #122
@mfisher11 Will let you close.

[2015-08-20 18:38] donnapep commented on #122
Taking another look since the header rows was only set to 1 in the test Presentation I was working from, but not in the Production version.

[2015-08-24 21:48] btfrise commented on #117
@alanclayton we have an open issue for this on the community. https://getsatisfaction.com/rise_vision_inc/topics/can-i-display-leading-0s-in-google-spreadsheet

[2015-08-24 22:25] alanclayton commented on #122
Issue caused by an anomaly event that resulted in the incorrect data source URL being saved with an instance of the Google Spreadsheet Widget. Per the comment in the Community, resolved by re saving the Widget Settings.

[2015-08-24 22:25] #122 closed

[2015-08-25 14:38] stulees commented on #119
@alanclayton FYI, closing this issue. The PRs referenced above contain the fix which was to remove "Auto" from the Header Row selection.

[2015-08-25 14:38] #119 closed

[2015-08-26 19:59] stulees commented on #117
@btfrise @alanclayton Closing as scenario 2 has been fixed by PR #125 and scenario 1 is a limitation of the Visualization API when mixed formats are used.

[2015-08-26 19:59] #117 closed

[2015-08-31 13:38] stulees commented on #116
@ptseng FYI, we just deployed an update to the Widget that corrects this issue now.

[2015-08-31 20:18] ptseng commented on #116
@stulees Thanks for fixing!

[2015-08-31 20:18] #116 closed

[2015-09-16 13:07] btfrise opened #128 "DataTables error message when auto scroll is used with custom layout."
Steps to reproduce:
1. Add a custom layout to a Google Spreadsheet Widget
2. Set auto scroll to "By page" or "Continuously"

Result:
After 5 to 10 minutes, a DataTables error appears
"DataTables warning: table id=DataTables_Table_0 - Requested unknown parameter '5' for row 0. For more information about this error, please see http://datatables.net/tn/4"
http://www.screencast.com/t/QD1jJPkSEsY

How

[2015-09-16 13:07] btfrise commented on #128
@alanclayton FYI.

[2015-09-28 16:33] stulees opened #130 "Content duplicated upon data refresh when a non-table custom layout used"
Steps to reproduce:
1. Add a custom layout to a Google Spreadsheet Widget that does not use a `<table>`

Result:
After 5 minutes (data refresh), content is duplicated - http://screencast.com/t/opKka6yKLD

How it should work:
Content should not be duplicated

Link to Presentation:
http://preview.risevision.com/Viewer.html?type=presentation&id=d678539b-9c3e-4f89-a488-0c27149381ba

OS:
Windows 8.1 /

[2015-10-22 17:13] btfrise opened #131 "Content not updating from Spreadsheet"
Reproduction Steps

1. Added Google Spreadsheet Widget to Presentation with refresh rate set to 5 minutes
2. Displayed presentation on live display
3. Updated cell in spreadsheet

ONLY OCCURS ON CHROME APP PLAYER

The widget on the display did not update.

During an inspection of the console, it looks like the widget is receiving the updated information from the spreadsheet, it is just not appeari

[2016-01-22 14:51] hcs0 opened #133 "Transparent background option disappears in Placeholder"
**How to recreate**
Add a Google Spreadsheet Placeholder in the new Editor. Configure the background color from transparent to something else then try to configure it back to transparent.

**How it is working now**
The transparent option is not available. See http://recordit.co/BaCgY6cyTC

**How it should work**
The transparent option should be available after choosing color.

[2016-01-22 14:51] lapinnoir commented on #133
https://app.intercom.io/a/apps/d85f4ah4/inbox/conversation/1771813391

[2016-01-22 16:04] alanclayton commented on #133
@lapinnoir I assume we can just inform Users to manually enter rgba(0,0,0,0) until we start the Spreadsheet Widget Epic?

[2016-01-26 18:51] #133 closed

[2016-02-01 17:47] alanclayton opened #134 "test"
test

[2016-02-01 17:58] #134 closed

[2016-02-02 21:46] alanclayton commented on #131
Issue was fixed with #132

[2016-02-02 21:46] #131 closed

[2016-02-02 21:47] alanclayton commented on #130
@stulees do you recall where this conversation was left?

[2016-02-02 21:55] stulees commented on #130
@alanclayton I know this is still an open bug, no fix has been worked on or deployed.

[2016-03-20 16:23] reynolds5520 commented on #130
@stulees
This presentation may help troubleshoot.  It shows how the error repeats without a lot of extra data in the way.  [http://preview.risevision.com/?type=presentation&id=55ba54a4-8a9d-45b9-8198-23dfb4eea026](url)

When the page first loads the data is properly displayed for rows 1, 2, 3, 4, 5, 6.

When refreshed after 5 minutes it changes to 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5, 2, 1, 2, 3, 4, 5,

[2016-03-24 23:45] Hobadee commented on #128
Having this same issue.

I believe the issue is related to columns without data in them and DataTables attempting to access null data.

[2016-03-25 00:04] Hobadee opened #136 "Widget doesn't compile on latest toolkit versions"
I tried to compile this widget using the latest versions on Node.js, Bower, and Gulp.  It failed hardcore.

First failure was in `npm install`; It appears several libraries being used are deprecated.  (Getting Warnings for them.)  As well, phantomjs is failing to install.

Not familiar with Bower, but I'm getting error-y looking lines.  ("invalid-meta" and "mismatch")  I also get a error: "Unable

[2016-03-28 18:22] stulees commented on #136
@Hobadee Thanks for raising this. We will be doing substantial refactoring to this Widget in the next coming weeks which will resolve whatever build issues you are currently experiencing and will resolve other outstanding issues also. Cheers

[2016-03-30 15:44] btfrise commented on #130
@alanclayton The user here https://community.risevision.com/rise_vision_inc/topics/google-sheets-gadget-down?topic-reply-list%5Bsettings%5D%5Bfilter_by%5D=all&topic-reply-list%5Bsettings%5D%5Bpage%5D=1#reply_16752342 is being impacted by this defect.

[2016-04-13 16:14] btfrise opened #138 "Worksheet selector does not function."
**How to recreate**
1. Create a new presentation, add a placeholder, add the Google Spreadsheet Widget
2. Select a spreadsheet that contains multiple worksheets
3. Under Worksheet, select a different worksheet

**What happens**
Only the initial worksheet is selected. The selected worksheet cannot be changed.

**What should happen**
Any worksheet within the spreadsheet should be able to be selected

[2016-04-13 20:42] btfrise commented on #138
Looks good! Closing.

[2016-04-13 20:42] #138 closed

[2016-05-25 14:51] alanclayton opened #163 "Row 1 used as Header Row even if Row 1 is not in selected Range"
If you configure the Widget to show a range that starts A2, and configure the Widget to use the first row as a header row, the Widget will use Row 1 of the Spreadsheet as the Header row.

It should use the first row of the range configured to show data from.

[2016-05-25 15:54] #136 closed

[2016-05-25 15:56] rodrigopavezi commented on #130
Custom layouts is going to be replaced by the use of the sheets component https://github.com/Rise-Vision/rise-google-sheet.

[2016-05-25 15:56] #130 closed

[2016-05-25 15:57] rodrigopavezi commented on #128
Custom layouts is going to be replaced by the use of the sheets component https://github.com/Rise-Vision/rise-google-sheet.

[2016-05-25 15:57] #128 closed

[2016-05-26 17:06] alanclayton opened #166 "v 1.0.0 does not respect body data alignment"
If you configure body data to be aligned center or right, it is not reflected on a running presentation and instead stay aligned left.

Header data works as expected.

After further testing it does not appear that Body Data respects font color, font bg color, bold, italic, underline, etc.

[2016-05-27 15:47] alanclayton commented on #163
Issue resolved.

[2016-05-27 15:47] #163 closed

[2016-05-31 15:41] alanclayton commented on #166
bug fixed.

[2016-05-31 15:41] #166 closed

[2016-06-27 13:58] alanclayton commented on #114
Can't replicate in new widget.

[2016-06-27 13:58] #114 closed

[2016-07-29 14:10] bbehrendtFHU opened #213 "Bug: Spreadsheet association gets lost"
Every time I open up the Spreadsheet Widget, I have to reassociate it with the spreadsheet I used.

1. I have to click on by ID, and the ID shows up in the box (but the master sheet is not listed)
2. I have to click on the textbox of the ID to get the sheet field to populate
3. I then have to select a master sheet.

I have to do this ever time I open up the spreadsheet widget settings, when I want

[2016-07-29 14:30] alanclayton commented on #213
@bbehrendtFHU can you provide a link to your Presentation?

[2016-07-29 14:39] bbehrendtFHU commented on #213
Here is a link to the presentation:
https://apps.risevision.com/editor/workspace/895c4e78-330e-4ea3-9089-1d13d0223ff1/?cid=55238cc5-132b-4003-8f65-bc1ecf3a513b

Here is a screencast of the bug: https://youtu.be/0QMlMQPlEVs

[code]

[2016-07-29 14:42] bbehrendtFHU opened #214 "Feature Request"
It would be very helpful if we could control the row padding with a variable height.

[2016-07-29 15:11] alanclayton commented on #213
Thanks @bbehrendtFHU we'll take a look.

[2016-07-29 21:01] alanclayton commented on #213
@bbehrendtFHU This should be resolved now. Thanks!

[2016-07-29 21:01] #213 closed

[2016-08-02 15:33] stulees commented on #214
@bbehrendtFHU In regards to rows, there is a setting for applying a row height and also settings for vertically / horizontally aligning your cell content.

Are you wanting to adjust the individual cell content padding?

[2016-08-02 16:02] bbehrendtFHU commented on #214
The row padding.   I want the row height to be dynamic, but have 10px
buffer.

On Aug 2, 2016 11:33 AM, "Stuart Lees" <notifications@github.com> wrote:

--
Fair Haven Union High School <http://www.fhuhs.org>
***PRIVILEGED AND CONFIDENTIAL: This communication, including attachments,
is for the exclusive use of addressee and may contain proprietary,
confidential or privileged information. If you are

[2016-08-02 16:06] stulees commented on #214
@bbehrendtFHU Okay so to clarify, you want the row height to dynamically adjust to fit the content, and instead of using the row height setting, be provided a padding setting. Do I have this right?

[2016-08-02 16:07] bbehrendtFHU commented on #214
Yes that is correct

On Aug 2, 2016 12:06 PM, "Stuart Lees" <notifications@github.com> wrote:

--
Fair Haven Union High School <http://www.fhuhs.org>
***PRIVILEGED AND CONFIDENTIAL: This communication, including attachments,
is for the exclusive use of addressee and may contain proprietary,
confidential or privileged information. If you are not the intended
recipient, any use, copying, disclosure,

[2016-08-02 17:44] stulees commented on #214
@bbehrendtFHU Thanks for your request. We have plans to address dynamic row height in the near future and will likely surface a row padding setting to coincide with the changes.

[2016-08-02 17:44] #214 closed

[2016-08-02 20:39] robb-price opened #216 "Per Column Formatted column widths do not adhere to what you enter"
<b>How it works now:</b>
1. In a placeholder that is 1200 pixels wide, showing a spreadsheet that has 5 columns, set the Width of one column to 500, and the others to 20.
2. Notice that the one column does not go to 500 pixels, it remains at 100, while all the others go to 20.

For further clarification: https://goo.gl/t9sdVl

Presentation: http://goo.gl/kmtd2L

<b>How it should work:</b>
As long

[2016-08-02 20:41] robb-price opened #217 "When you set a Per Column Format, it overrides the formatting in the Header"
<b>How it works now:</b>
1. Assign the first row as the header row.
2. Set Per Column formatting on any columns.
3. Notice that the Per Column Formatting overrides the setting for the header as well as the body. In the notification text for Per Column Formatting, it say it will only override the body text formatting.

For further clarification: https://goo.gl/t9sdVl

Presentation: http://goo.gl/km

[2016-08-03 13:58] donnapep commented on #216
@robb-price I need access to the spreadsheet. Can you share it with me? Thx.

[2016-08-03 20:24] robb-price commented on #216
Confirmed and closed.

[2016-08-03 20:24] #216 closed

[2016-08-04 19:47] robb-price commented on #217
Verified and Closed.

[2016-08-04 19:47] #217 closed

[2016-08-05 14:36] robb-price opened #219 "Per Column Formatting not applying when using a custom range"
<b>How it works now:</b>
1. In the early preview Spreadsheet Widget, select a custom range.
2. Set Per Column formatting for any column in the spreadsheet.
3. Preview or play the Presentation on a Display, and notice that the Per Column formatting options are not adhered to. If you remove the custom range and show the entire sheet, the per column formatting works.

<b>How it should work:</b>
Regar

[2016-08-05 15:13] donnapep commented on #219
@robb-price Had some trouble reproducing, but apparently it's only an issue when the header is not included as part of the range data.

[2016-08-08 15:29] robb-price commented on #219
@donnapep Have you put that notification in as discussed on the Trello Card? Can we close this?

[2016-08-08 15:30] donnapep commented on #219
@robb-price It's currently in progress but should go out today.

[2016-08-08 18:35] #219 closed

[2016-08-10 20:40] robb-price opened #221 "Per Column Formatting does not work for certain spreadsheets"
<b>How it works now:</b>
Look at <a href="https://apps.risevision.com/editor/workspace/13008cb2-aca8-4b57-b4be-c484f1c59951/true?cid=556323b8-984c-4127-aa08-4d73d019bcb8">Presentation A</a>, using <a href="https://docs.google.com/spreadsheets/d/1jOTmCVnlC5CeGCuojN5BWsswpdEv2CYb0g5foxlW1LA/edit#gid=0">Spreadsheet A</a>. Notice that Per Column Formatting works. The name of the column I selected in P

[2016-08-12 21:06] robb-price opened #225 "Custom Width stops working when you enter a second column in Per Column Formatting."
<b>How it works now</b>
1. Have 1 column set in per column formatting, and confirm it looks as expected.
2. Enter another column into the Widget settings, and notice you can now no longer see either column that was there previously.

For further clarification: https://goo.gl/rHcaSo

Presentation to test with: https://apps.risevision.com/editor/workspace/b571db24-723f-4a9e-b0d5-9a5d293ee365/?cid=55

[2016-08-18 15:34] alanclayton commented on #221
@robb-price This is fixed and deployed.

[2016-08-18 15:34] #221 closed

[2016-08-18 15:34] alanclayton commented on #225
@robb-price this is fixed.

[2016-08-18 15:34] #225 closed

[2016-08-23 20:50] robb-price opened #229 "Spreadsheet Widget is not showing second column of Spreadsheet"
Further details on the issue

The Widget is assuming that since the first row of a column is empty, there is no additional data to show.

To replicate,
Configure the Widget to show Sheet 1 range A1:D10 from https://goo.gl/SjkMXS.

Clear all values from Row 1. When you Preview the Presentation no data appears.

If you add a space to C1 but leave A1 and B1 empty. The values from A1:C10 will now appe

[2016-09-01 12:36] ByronDarlison commented on #229
@robb-price @alanclayton is this issue still open?

[2016-09-01 13:57] pcsandford opened #230 "Data is not displayed if the first row of the spreadsheet is blank"
How it works now:
If the first row of the spreadsheet is blank, the component will not show any data on the presentation. Inspecting the element will show that the rows have been created, but do not contain any text data.

How it should work:
The data would be displayed with a gap at the top representing the blank cell, in the same way that empty rows between cells with data create gaps.

Example:

[2016-09-01 13:59] ByronDarlison commented on #230
@pcsandford curious, what happens if there is a blank row in the middle?

[2016-09-01 14:09] pcsandford commented on #230
@ByronDarlison if there is a blank row in the middle it will create a gap equal to the size of the row setting. Thanks!

[2016-09-01 14:39] alanclayton commented on #230
@ByronDarlison @pcsandford I'm going to close this as it is a duplicate to https://github.com/Rise-Vision/widget-google-spreadsheet/issues/229 which we will have fixed next week. In the interim, a simple work around is to add a space to the cells in the top row. I added the space to your sample Spreadsheet https://goo.gl/SjkMXS and you can now see the data showing in the Presentation.

[2016-09-01 14:39] #230 closed

[2016-09-01 14:40] alanclayton commented on #229
@ByronDarlison This is still open and queued up to be fixed next week.

[2016-09-01 15:02] ByronDarlison commented on #230
@alanclayton I don't follow how this is a duplicate to the other issue? And the work around is easy, it is the noise that it causes that isn't...

[2016-09-01 20:20] alanclayton commented on #230
@ByronDarlison Sorry about that. I've updated the description on #229 to better explain what is going on.  And understood on the noise.

[2016-09-09 16:13] alanclayton commented on #229
Fixed with #231

[2016-09-09 16:13] #229 closed

[2016-09-12 22:40] pcsandford opened #232 "Last row is not displayed when scrolling if 1st row is set as header"
**How it works now:**

Example presentation: https://apps.risevision.com/editor/workspace/d1d45d6e-20d6-40eb-a1ff-0229cc830ec8/?cid=f114ad26-949d-44b4-87e9-8528afc76ce4

Example spreadsheet: https://docs.google.com/spreadsheets/d/1yr1B6PzBEwtmvVm3eiov7LyniGqJLzTrFuvqkqR-1Xg/edit#gid=0

In this presentation the spreadsheet on the right has the first row set as the header and will only scroll to sho

[2016-09-14 18:14] stulees commented on #232
@pcsandford This has been fixed by PR #233 , closing, thanks!

[2016-09-14 18:14] #232 closed

[2016-09-23 20:12] mmeiers opened #234 "Horizontal Scroll Bar Showing Up"
Horizontal Scroll Bar shows up if the placeholder is not vertically tall enough.
http://www.screencast.com/t/IyFudDcwf

When a user sees this scroll bar it leads them to think there is not enough horizontal space given it is also cutting off the right side of the data. However changing column widths or the width of the placeholder does not get rid of it.
It took me a while to figure out it was the

[2016-09-30 17:54] rodrigopavezi commented on #234
@mmeiers could you please verify if the issue has been fixed with this version of the widget?

http://s3.amazonaws.com/widget-google-spreadsheet-test/stage-0/2.0.0/dist/widget.html

Cheers

[2016-10-04 14:08] mmeiers commented on #234
@rodrigopavezi 👍 looks to be fixed thanks

[2016-10-04 14:32] #234 closed

[2016-10-04 14:32] rodrigopavezi commented on #234
Fix has been deployed https://github.com/Rise-Vision/widget-google-spreadsheet/pull/236 cheers

[2016-11-02 23:29] robb-price opened #243 "When using a specific spreadsheet with a range, you can't select certain columns to format"
<b>How it works now:</b>

Using <a href="https://apps.risevision.com/editor/workspace/72640bae-a27d-4da9-9972-d6b09f097325/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a>, notice how you cannot select the column J to format, even though it is included in the Spreadsheet range. You can select I and K, but not J. This does not happen with other Spreadsheets.

For further clarificati

[2016-11-03 20:51] robb-price opened #244 "Widget does not start scrolling if data is added after it was last published."
<b>How it works now:</b>
1. Using <a href="http://rva.risevision.com/#/PRESENTATION_MANAGE/id=c70f10cb-5aa6-48b2-9666-abf892f1e6f3?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a>, notice that the spreadsheet in the lower right is set to scroll, but there is not enough data in there to make it scroll. Publish this Presentation and put it on a Display (or watch in preview).
2. Add da

[2016-11-04 16:31] alanclayton commented on #243
Issue is due to use of old version.

[2016-11-04 16:31] #243 closed

[2016-11-14 19:35] btfrise opened #248 "Scrolling is unreliable when used with custom refresh intervals."
**How to recreate the problem**

1. Add a google spreadsheet widget to a presentation, add an API key to that widget, set the refresh interval to 5 minutes.
2. Set the Scroll to continuously, slow.
3. Publish presentation and assign it to a display.

**What happens**
Within 5 minutes, the spreadsheet scroll slows significantly, and after scrolling through spreadsheet, does not start over at the to

[2016-11-14 20:25] leaninonlife commented on #248
For temporary patch to bypass the issue during the fix, you can simply change your refresh time to 60+ minutes while maintaining your API key until the problem is resolved.

[2016-11-15 19:25] donnapep commented on #248
Fixed by rolling back #246.

[2016-11-15 19:25] #248 closed

[2016-11-17 20:57] mmeiers opened #251 "Border Between Columns Showing up"
When "Show Separator Between Columns" is unchecked there is still a border that shows between columns. Turning on the separator and making it transparent does not fix the issue.
http://www.screencast.com/t/MqXtAea42wUL

The desired outcome is to have no gap between columns so the alternate row is one seamless background.

I believe the following css property should solve the issue: border-collapse

[2016-11-21 18:04] rodrigopavezi commented on #251
This has been fixed by https://github.com/Rise-Vision/widget-google-spreadsheet/pull/252. cheers

[2016-11-21 18:04] #251 closed

[2016-11-25 17:02] robb-price opened #253 "If you have content with different lengths, the row height doesn't auto adjust for longer text"
<b>How it works now:</b>
1. Using a Spreadsheet that has a lot of different lengths of text to show in your spreadsheet.
2. Put that into a Widget, and notice that the longer text gets cut off instead of showing completely. The only way to get it to show all content, is to increase the Row Height, which increases it for ALL rows, which users may not want.

Presentation and Spreadsheet to test with

[2016-11-28 13:02] donnapep commented on #244
The fix was rolled back as it was causing other, more serious issues.

[2016-11-28 21:37] robb-price commented on #253
@stulees Any news of a workaround on this?

[2016-11-28 22:05] stulees commented on #253
@robb-price I asked for latest status on the [bug](https://github.com/schrodinger/fixed-data-table-2/issues/25), waiting for a response. Otherwise we are discussing on Trello card - https://goo.gl/0chgZy

[2017-01-11 17:48] alanclayton opened #254 "Row padding prevents row data from being aligned vertically"
If data is configured to be aligned top or bottom, there is padding which prevents the data from being fully aligned top or bottom. See here for an example. http://www.screencast.com/t/XpFb6DIVm6

To replicate,

1. Configure the Widget to show the range A2:B3.
2. Set Row height to be 60px
3. Set font size for both header and body to 30px
4. Set vertical alignment for top.

[2017-01-11 22:00] alanclayton commented on #254
![](https://github.trello.services/images/mini-trello-icon.png) [Spreadsheet Widget Issue 134](https://trello.com/c/RG7iWTUF/2429-spreadsheet-widget-issue-134)

[2017-01-20 15:49] btfrise opened #255 "When new Sheet is added to Spreadsheet, Spreadsheet Widget does not retain Sheet selected."
**How to recreate**
1. Add the Spreadsheet Widget to a Presentation
2. Create a new Google Spreadsheet, name the first sheet Sheet 1, put content in that sheet
3. Add that Spreadsheet to the Spreadsheet Widget, select Sheet 1 as the data source
4. Add a new sheet to the Spreadsheet, name it Sheet 2, move that sheet to the left of Sheet 1
5. Go back to the Editor, reopen Spreadsheet Widget properti

[2017-01-23 17:35] stulees commented on #254
@alanclayton Do you have the link to the presentation and/or spreadsheet that is being used in your screenshot?

[2017-01-24 14:15] btfrise commented on #255
Fixed and verified.

[2017-01-24 14:15] #255 closed

[2017-01-25 18:18] pcsandford opened #258 "Row colour picker blocks manual input, and RGBA values no longer work"
### Issue:
When selecting the odd or even row colour, the popup blocks the manual input field so you can't see the actual RGBA colour values. This happens at different screen sizes. When the A value of RGBA is entered at a value less than 1 the opacity is not shown in the presentation.

### Steps to Replicate:

1. Set up a placeholder with the Google Spreadsheet widget;
2. Click on the odd or even

[2017-01-25 22:53] #254 closed

[2017-01-25 22:58] robb-price opened #259 "When your total width of formatted columns of equal to your Placeholder width, some columns still get cut off"
<b>How it works now:</b>
1. Using <a href="https://apps.risevision.com/editor/workspace/feb4bd3b-3b48-4207-b9c8-5d7dc33329cb/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a>, notice that the Width of Placeholder ListL is 510 px.
2. Look at the Spreadsheet Widget running in that Placeholder, and notice that the 2 formatted columns equal 510 pixels in width.
3. When you preview the P

[2017-01-25 22:59] robb-price commented on #259
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 259: When your total width of formatted columns of equal to your Placeholder width, some columns still get cut off.](https://trello.com/c/aBBk0YPK/3057-1-issue-259-when-your-total-width-of-formatted-columns-of-equal-to-your-placeholder-width-some-columns-still-get-cut-off)

[2017-01-27 16:36] robb-price commented on #259
Verified and Closed

[2017-01-27 16:36] #259 closed

[2017-01-31 19:39] sheadarlison opened #261 "Horizontal Scroll bars"
**What is not working/What is currently happening:**
When the content is to wide for the placeholder a horizontal scrollbar appears and there is no way to hide or remove it.

**What is expected to work/What is the client expecting:**
You are able to show or hide the horizontal scrollbar.

**What has been tried so far:**
Nothing.

**Links**
http://preview.risevision.com/?type=presentation&id=11178a

[2017-02-01 03:44] IS12 commented on #244
Any updates on this issue? Thanks.

[2017-02-08 20:39] stulees commented on #258
@pcsandford I'm not able to recreate the issue regarding alpha value not being applied. I can enter any value between 0 and 1 (eg. 0.5) and it is applied. Here's a presentation for demo - https://apps.risevision.com/editor/workspace/36c2e57a-4198-4b08-8b28-bc9d95b1cb12/?cid=30007b45-3df0-4c7b-9f7f-7d8ce6443013

Can you clarify how you weren't able to see it applied or confirm it's not an issue, ch

[2017-02-08 20:53] pcsandford commented on #258
@stulees I have changed the value in the presentation and attached a screenshot of what I was seeing. I should have been clearer as I was initially using an opacity on black so it was more obvious but in the attached screenshot you can see that the areas around the text are darker than the desired opacity - I think in my presentation my row height was almost equal the text height so it gave the im

[2017-02-22 02:27] alanclayton commented on #258
Fix deployed

[2017-02-22 02:27] #258 closed

[2017-02-22 02:28] alanclayton commented on #261
Fix deployed.

[2017-02-22 02:28] #261 closed

[2017-04-06 16:16] btfrise opened #268 "Title Case Not Consistent in Settings"
![spreadsheetwidgettextformatting](https://cloud.githubusercontent.com/assets/8458926/24764536/4690ac8c-1aba-11e7-9fe5-4fcc42ea4278.jpg)

In Google Spreadsheet Settings, API Key(1) is Title Case and API key(2) is not. This should be consistent.

[2017-04-11 15:21] stulees commented on #268
@btfrise This has been fixed, thanks.

[2017-04-11 15:21] #268 closed

[2017-05-03 16:18] btfrise opened #270 "Redirect "How to create API key ..." link to Knowledge Base."
Google Spreadsheet Widget currently links to https://community.risevision.com/rise_vision_inc/topics/how-to-generate-an-api-key-for-the-google-spreadsheet-widget

This has been added to the Knowledgebase, the link should now direct to https://risevision.zendesk.com/hc/en-us/articles/115002245846

@alanclayton FYI

[2017-05-04 16:07] robb-price opened #271 "Selecting a Size for font is not working correctly in Presentations"
<b>How it works now:</b>
1. Add the Spreadsheet Widget to your Company.
2. Set the font size to be larger than the default, notice that the size in the Widget does not update in the dropdown, however the size of the font updates in the text example.
3. Notice that the size of the font is not updated in your Presentation preview or on the Display.

For further clarification; https://goo.gl/OFnikf

[2017-05-04 16:10] robb-price commented on #271
![](https://github.trello.services/images/mini-trello-icon.png) [Issue 271 - Selecting a Size for font is not working correctly in Presentations](https://trello.com/c/zeuKlWNT/4179-issue-271-selecting-a-size-for-font-is-not-working-correctly-in-presentations)

[2017-05-08 13:17] stulees commented on #271
@robb-price Fixed with PR #272 , thanks.

[2017-05-08 13:17] #271 closed

[2017-05-29 14:33] alanclayton commented on #270
Update deployed.

[2017-05-29 14:33] #270 closed

[2017-07-03 14:49] sheadarlison opened #277 "Error when accessing spreadsheet"
**Problem**
When this Presentation plays on this Display after a couple hours the placeholder with the Spreadsheet Widget shows the error: "Error when accessing spreadsheet" and it doesn't seem to disappear.

- Presentation: https://apps.risevision.com/editor/workspace/bb6f7763-f5d2-4566-919e-346ea5eb3fb4/?cid=7fa5ee92-7deb-450b-a8d5-e5ed648c575f
- Display: https://apps.risevision.com/displays/det

[2017-07-28 19:16] robb-price opened #282 "When scrolling By Page, the Pause Value is always 10 seconds, regardless of what is entered."
<b>How it works now:</b>
1. Add the Spreadsheet Widget to a Presentation, set it to scroll by Page, and set a pause of 20 seconds.
2. Notice that in preview and on the Display, the pause is always 10 seconds. You can modify the pause time to any option, it always goes with 10 seconds.

For further clarification: https://goo.gl/RBT4vb

<b>How it should work</b>
The Widget should adhere to the time

[2017-07-28 19:24] robb-price commented on #282
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 282: When scrolling By Page, the Pause Value is always 10 seconds, regardless of what is entered.](https://trello.com/c/wMIp7M0U/5069-1-issue-282-when-scrolling-by-page-the-pause-value-is-always-10-seconds-regardless-of-what-is-entered)

[2017-08-01 16:19] stulees commented on #282
@robb-price Fixed by PR #283

[2017-08-01 16:19] #282 closed

[2017-08-09 18:51] alanclayton commented on #277
@rodrigopavezi Wasn't this resolved w/ https://github.com/Rise-Vision/widget-google-spreadsheet/pull/278?

If so, can you close?

[2017-08-09 18:52] rodrigopavezi commented on #277
@alanclayton it was resolved. closing it. cheers

[2017-08-09 18:52] #277 closed

[2017-11-16 21:51] robb-price opened #286 "2nd Sheet in this Presentation does not start at the specified location in the sheet"
<b>How it works now:</b>
Using <a href="https://apps.risevision.com/editor/workspace/f0a17596-c2cd-4287-a878-2e9e8c6fa969/?cid=556323b8-984c-4127-aa08-4d73d019bcb8">this Presentation</a>, notice the following:
1. The Presentation has 3 instances of the Spreadsheet, all set to Play Until Done. Each shows a specific range of a specific sheet.
2.  Notice that the 1st Spreadsheet starts at the correct

[2017-11-16 21:52] robb-price commented on #286
![](https://github.trello.services/images/mini-trello-icon.png) [(1) Issue 286: 2nd Sheet in this Presentation does not start at the specified location in the sheet](https://trello.com/c/7MDhBxdF/6432-1-issue-286-2nd-sheet-in-this-presentation-does-not-start-at-the-specified-location-in-the-sheet)

[2018-01-05 21:07] sheadarlison commented on #253
@alanclayton Was there a conclusion on this?

[2018-01-05 21:26] alanclayton commented on #253
@sheadarlison no, was dependent on this defect being fixed, https://github.com/schrodinger/fixed-data-table-2/issues/25.

[2018-01-30 15:09] sheadarlison opened #291 "Can't pick a spreadsheet through the drive picker."
When users go to the Spreadsheet Widget they are unable to pick a spreadsheet with the drive picker and see this error message.

![screen shot 2018-01-30 at 9 09 07 am](https://user-images.githubusercontent.com/9273546/35573608-96dc543a-05a5-11e8-9f9d-686a73cbfb0b.png)

[Community post](https://help.risevision.com/hc/en-us/community/posts/360000477403)

[2018-02-15 15:37] rodrigopavezi commented on #291
This has been fixed by moving widget settings to gcs and verifying the client id with google.

[2018-02-15 15:37] #291 closed

[2018-05-17 17:52] flickeringsight opened #294 "If a speadsheet cell is emptied, the widget stops refreshing"
Lets say I launch a presentation with a spreadsheet widget set to update from a single cell with a refresh interval of 1 minute.  An API key is used.

- If the cell has content at launch time, changes made to the cell content **do** update the widget  as expected.
- If the cell has no content at launch time, additions and changes to the cell content **do** update the widget  as expected.
- But, if

[2018-05-18 12:42] sheadarlison commented on #294
Hi @flickeringsight,

Thanks for reporting this, I'm going to try and reproduce it today and then a developer will look into this issue early next week. Once they've looked into it they'll be able to give you an estimate for how long a fix will take.

Let me know if you have any questions.

Thanks,
Shea

[2018-05-21 15:54] jungeunyoon commented on #244
This issue was resolved with PR #276 and as such, we'll be closing this issue. Thanks!

FYI @IS12

[2018-05-28 15:43] jungeunyoon commented on #294
The fix has been deployed. @flickeringsight thanks for reporting.

---

###Problem

- If a sheet with a single cell is emptied of content during run time, the widget does not update as empty, and any subsequent additions or changes to the cell does not update the widget.
- Throwing an error because trying to reference the `length` property of an empty dataset.

###Solution

- Added a check to see

[2018-05-30 18:27] tylermwight opened #296 "Changing the name of the first sheet stops the widget from displaying"
In some instances changing the name of a sheet in a public spreadsheet (used by our spreadsheet widget) can cause it to get the error. I was not able to get this error every time but I did get a video of it. Even after deleting and re-adding the spreadsheet widget it still shows this error both in the editor and when trying to preview.

![image](https://user-images.githubusercontent.com/27289926/4

[2018-05-30 18:30] #294 closed

[2018-05-30 18:36] sheadarlison commented on #296
Thanks @tylermwight I'll review with the team tomorrow and let you know what the date to have this resolved will be.

[2018-07-10 15:47] btfrise opened #302 "Spreadsheet Widget saying sheet is not public, even though it is."
**What happens**

When a specific spreadsheet is added to a Spreadsheet Widget, it has the error message "To use this Google Spreadsheet it must be publicly accessible. To do this, open the Google Spreadsheet and select File > Share > Advanced, then select On - Anyone with the link." even when the Spreadsheet is set to public with link.

**What should happen**
Spreadsheet should not have the error

[2018-07-10 15:48] btfrise commented on #302
![](https://github.trello.services/images/mini-trello-icon.png) [Spreadsheet Widget saying sheet is not public, even though it is.](https://trello.com/c/pY2oxrGE/8277-spreadsheet-widget-saying-sheet-is-not-public-even-though-it-is)

[2018-07-10 17:59] santiagonoguez commented on #296
@tylermwight we added an explicit message on settings to let the user know that if he changes settings, he needs to explicitly select again the correct sheet on the settings page. Also, now the spreadsheet settings cannot be saved if a worksheet is not selected. And finally both settings and the widget has a more explicit error message now. Please review the changes.

@sheadarlison FYI

[2018-07-11 13:49] santiagonoguez commented on #296
Closing this after review !

[2018-07-11 13:49] #296 closed

[2018-07-12 13:55] sheadarlison commented on #302
We believe this was a problem with Google's API. Closing the issue.

[2018-07-12 14:13] sheadarlison commented on #253
This is a feature request not a defect, the widget is behaving as it's supposed to. Closing the defect.

[2018-07-12 14:13] #253 closed

[2018-07-12 20:36] robb-price commented on #302
@sheadarlison Reopening this given the conversation in HipChat

_Stu: I think this warrants opening an issue. It is either a Google Sheets API bug or an issue on our side. Needs investigation._

[2018-07-18 14:48] leaninonlife commented on #302
Experiencing this issue still.

[2018-07-18 15:07] sheadarlison commented on #302
Hi Matthew, the issue is still ongoing you can follow updates in this community thread:

https://help.risevision.com/hc/en-us/community/posts/360016993046

Thanks

[2018-07-20 12:50] sheadarlison commented on #302
Resolved by Google fixing this issue https://issuetracker.google.com/issues/111262653#comment77

[2018-07-20 12:50] #302 closed

[2018-07-29 22:14] slaugaus opened #305 "Scrolling doesn't loop infinitely like the old Gadget"
Since the Classic Editor is being disabled, we will need parity between the Gadgets that we'll lose access to and the Widgets that we'll keep access to.
**Settings I'm using:**
- Show Entire Sheet
- No headers
- Scroll: Continuously
- Pause: 0
- PUD Failover: 0
- This widget is the only object in its Placeholder.

**Expected results:**
The widget should continuously scroll through the sheet's cont

[2018-07-30 14:29] sheadarlison commented on #305
Hi @slaugaus,

We won't be adding this feature to the Spreadsheet Widget but if you'd like to take the open source code and implement it yourself you are welcome to.

Thanks,
Shea

[2018-07-30 14:29] #305 closed

[2018-08-27 14:59] robb-price opened #308 "Widget does not show on a Licensed ChromeOS Player"
### What is the expected behavior?
Spreadsheet should play in Chrome the same way it does on Linux, Windows, and Pi.

### What is the actual behavior?
The Spreadsheet Widget does not show.

### What steps can be taken to replicate the problem?
Add the Spreadsheet Widget with a Published to the Web and "Anyone with the link can view" Spreadsheet, and notice that you can see it on all licensed devic

[2018-08-27 15:57] sheadarlison commented on #308
This is fixed. Closing the issue.

[2018-08-27 15:57] #308 closed

[2019-03-01 22:07] colby-maughan opened #309 "Odd and Even Colors Not Working"
**Reproduction Steps**
1. Create a presentation with a spreadsheet widget.
2. Adjust the odd and even row color values and save.
3. Wait for the widget to refresh.

**Expected Results**

Color should change when new color values are applied.

**Actual Results**

The spreadsheet widget retains its previous color settings and does not acquire the new ones. Fonts still work though. Color value number

[2019-03-04 14:56] sheadarlison commented on #309
Not a defect, settings we're just applied incorrectly.

[2019-03-04 14:56] #309 closed

[2020-02-26 20:12] robb-price opened #315 "Widget shows error message that it cannot load when it starts without network"
### What is the expected behavior?
The Spreadsheet Widget should load and play as expected when the network is not available.

### What is the actual behavior?
If the Display starts without a network connection, the Spreadsheet Widget will sometimes not show the spreadsheet data, and instead show only the error "There was an error accessing your spreadsheet data. Please ensure a valid range and wo

[2020-02-27 17:02] colby-maughan opened #316 "Google Sheets Widget seems to cache certain functions incorrectly"
### What is the expected behavior?
Functions such as =today(), =index(), are updated on the sheet and their changes are propagated to the presentation.

### What is the actual behavior?
Despite the functions updating and enough time having passed for the updates to have propagated to the presentation (especially in cases where an API key is used for refreshes), the widget continues to display old

[2020-02-27 18:33] stulees commented on #316
@colby-maughan How many users are affected by this and is there a workaround?

[2020-02-28 14:36] stulees commented on #316
User has a workaround, closing the issue.

[2020-02-28 14:36] #316 closed

[2020-03-09 16:46] santiagonoguez commented on #315
it's an issue with how cache is handled by the component. Uninstalling / reinstalling works as a workaround, and if that does not help then using a new copy of the spreadsheet is another workaround.

[2020-03-10 17:53] colby-maughan opened #317 "Google Sheets Widget does not work in preview"
### What is the expected behavior?
Customer should be able to preview their content to see the sheets widget working.

### What is the actual behavior?
Widget does not load in preview.

Error below from console might be related, but not 100% sure.

[code]

### What steps can be taken to replicate the problem?
Add the sheets widget to a blank template, configure however you like, save, then preview

[2020-03-10 18:24] ezequielc commented on #317
@stulees I transferred it. I hope it doesn't mess with our metrics spreadsheet :) Thanks!

[2020-03-12 17:53] stulees commented on #315
A fix would require modifications to Rise Cache which we are not pursuing, closing the defect, Support will respond to customer.

[2020-03-12 17:53] #315 closed

[2020-05-21 15:57] #317 closed

[2020-05-21 16:34] robb-price opened #319 "Widget Version 0.1.0 no longer shows any data from Spreadsheet"
### What is the expected behavior?
The content from the Google Spreadsheet should show regardless of the Widget version.

### What is the actual behavior?
Widget version 0.1.0 will no longer show data as it uses the now deprecated sheets api v3.

### What steps can be taken to replicate the problem?
Preview any Presentation still using Google Spreadsheet Widget 0.1.0. This does not happen with the

[2020-05-26 14:34] stulees commented on #319
@robb-price This has been resolved with a manual fix to the production code of the 0.1.0 version of widget. You can validate with this presentation - https://apps.risevision.com/editor/workspace/c5a1f306-3c8f-41f5-880b-1b72ea8f709f?cid=7fa5ee92-7deb-450b-a8d5-e5ed648c575f.

[2020-05-26 14:34] #319 closed

[2020-09-23 17:22] alanclayton opened #321 "Displays reporting 'api quota exceeded'"
Instances of the widget configured to use a custom api key are exceeding the key's quota due to the combination of the configured refresh rate and number of displays showing the presentation.

The minimum refresh interval that should be allowed when using a custom api key is 10 minutes.

[2020-09-23 18:34] alanclayton opened #322 "Widget Settings incorrectly saying "sheet must be public""
Details in [this doc](https://docs.google.com/document/d/1N4qg12OsgvLMnvBlD8UGYuKBcOAp89WafVS0w9Dts90/edit)

[2020-09-29 18:02] stulees commented on #322
Apps was targeting a location on GCS for the Widget settings that is not where the widget currently deploys to, this has now been resolved.

[2020-09-29 18:51] stulees commented on #322
@alanclayton This has been resolved. The list of websites that we allow our Sheets API key to accept requests from needs to be exactly a _Referrer_ value in the request, so we needed to now add `*/s3.amazonaws.com/* ` explicitly. We already had `*s3.amazonaws.com/widget-google-spreadsheet/*`  but this is not recognized as a Referrer.

[2020-09-29 19:27] alanclayton commented on #322
@stulees how are you validating the correction?

[2020-09-29 19:50] stulees commented on #322
@alanclayton I validated against the presentations you listed in the doc you provided as well as my own presentations.

[2020-09-29 21:32] alanclayton commented on #322
Thanks. Can you tell me the uptime error associated with this error so I know for future analysis?

[2020-09-30 15:29] stulees commented on #322
@alanclayton The `event` is _"error"_ and the `event_details` is _"spreadsheet not public"_. Are you good to close this issue now?

[2020-09-30 16:34] alanclayton commented on #322
@stulees shouldn't this be logged as a different error since it had nothing to do with the spreadsheet?

[2020-09-30 17:15] stulees commented on #322
@alanclayton In this situation the API was responding with an error and the status 403. This is the same error status code  returned from the API when the spreadsheet is not public. We are not able to determine the difference between these two cases, we only go by the status code. The overwhelming majority of the time a 403 error status from the API is because the spreadsheet is not public.

[2020-09-30 18:14] alanclayton commented on #322
@stulees Thanks. For those reporting spreadsheet not public. How many are due to the Referrer issue versus the spreadsheet not being public?

[2020-09-30 18:17] stulees commented on #322
@alanclayton We are not able to determine the difference between these two cases as they both return a 403 status code.

[2020-09-30 18:43] alanclayton commented on #322
@stulees so how do you know the overwhelming majority of the time it is due to spreadsheet not being public?

[2020-09-30 18:52] stulees commented on #322
@alanclayton The 403 status has indicated the spreadsheet is not public since this Widget was built. We never used to encounter any other type of error with a 403 status code, that is why we have always displayed the message for the user to inform them to make their spreadsheet public when this error has been handled. This new issue (now resolved) is recent and the first time the 403 status meant

[2020-09-30 20:32] alanclayton commented on #322
@stulees let's review tomorrow am. Thanks

[2020-10-02 15:12] stulees commented on #321
@alanclayton I've ran a validation query to determine impact of the fix deployed from #323 . You can run query and see results [here](https://console.cloud.google.com/bigquery?sq=1088527147109:44a2a46403ea4dfc80cccd22932a0f1c).

The fix was deployed Sep 30 so Oct 1st (yesterday) is the first full day of validation. Based on the numbers from past 20 days, there is a small improvement. Usually on a

[2020-10-02 16:33] alanclayton commented on #321
@stulees could you add an action in the sos doc for this?

[2020-10-02 16:36] stulees commented on #321
@alanclayton Will do

[2020-10-02 17:30] alanclayton commented on #322
@stulees this should remain open until we are informing the user and providing correction. Thanks!

[2020-10-02 17:31] #322 closed

[2020-10-02 17:39] alanclayton opened #324 "Uptime errors not published to user"
The following uptime errors are being reported, but they are not being published to the User:

- E000000081
- E000000082
- E000000083
- E000000084
-

[2020-10-02 20:54] stulees commented on #324
@alanclayton Can you clarify why this has been opened given the widget does display a message that pertains to particular API error status code? Depending on which one, we also provide an action to correct.

[2020-10-05 14:44] alanclayton commented on #324
@stulees Per discussion at SoS, we need to notify our users via In App or email, but not on the display. Thanks

[2020-10-06 14:54] btfrise opened #325 "Spreadsheet Widget can't be configured to refresh every 1 minute."
### How to reproduce
Add a spreadsheet widget with a custom API key. Attempt to set the refresh to 1 minute.

### What happens
Error message stating that the minimum is 10 minutes.

### What should happen
User is requesting if using a custom API key they should be able to refresh every 1 minute.

[2020-10-06 15:07] stulees commented on #325
@btfrise Please see #321 . We are addressing a problem of users exceeding their API quota and have actively been enforcing a new minimum refresh rate. We can not support 1 minute. @alanclayton FYI

[2020-10-21 13:23] btfrise opened #330 "If there are multiple placeholders, with multiple widgets set to the same duration, they do not rotate together."
### How to recreate
Create a presentation with 3 placeholders.
Put 3 pieces of content in each placeholder.
Set the duration of each piece of content to 15 seconds.
Preview.

### What happens
The content will not rotate synchronously.

### Additional information
Reported by user with this presentation. He says they have been using this same format for around 2 years and the content has rotated as

[2020-10-27 16:43] stulees commented on #330
@btfrise  A fix to alleviate this synchronization issue has been deployed.

Note, it does not resolve synchronization when presentation (with spreadsheet widget instances) is running for first time (no data is cached). It is at the mercy of instances requesting for data at different random times which was to alleviate issue Rise-Vision/widget-google-spreadsheet#321 .

Once presentation (widget ins

[2020-10-27 16:43] #330 closed

[2021-02-05 18:36] #325 closed

[2021-02-05 18:37] stulees opened #334 "The 'spreadsheet not reachable' error event does not provide enough info for Endpoint Logging Error Definitions"

[2021-03-26 15:37] #334 closed

[2021-04-09 19:18] alanclayton commented on #321
Reporting uptime error replaced with https://github.com/Rise-Vision/widget-google-spreadsheet/issues/324

[2021-04-09 19:18] #321 closed

[2021-09-09 20:54] ezequielc commented on #324
@stulees Closing as per https://github.com/Rise-Vision/rise-twitter/issues/70#issuecomment-916420515. Thanks

[2021-09-09 20:54] #324 closed